.InputWrapper {
  display: flex;
  flex-direction: column;
}

.placeholder {
  margin-bottom: 5px;
}

.input {
  width: 100%;
  border: 1px solid var(--inverted-bg-color);
  color: var(--primary-color);
}

.readonly {
  opacity: 0.7;
}
