.app.light {
  --bg-color: #fff;
  --inverted-bg-color: #292a35;

  --primary-color: #353e6e;
  --secondary-color: #2b2424;

  --inverted-primary-color: #75b7ec;
  --inverted-secondary-color: #eee7e7;
}
